* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  /* font-family: sans-serif; */
  margin: 20px;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5%;
}

label, input {
  display: block;
}
